$primary: #006699;
$primary: #0075ff;

h2 {
	color: $primary;
}

.ui.inverted.menu .header.item {
	color: $primary;
}

.ui.menu .item img.logo {
	margin-right: 1em;
}

.main.container {
	margin-top: 7em;
}

.ui.footer.segment {
	margin: 5em 0em 0em;
	padding: 5em 0em;
}